<!-- pending payments -->
<div class="main-content" id="pending-payment">
    <div class="container">
        <h1>All Pending Payemnt List</h1>
        <div class="pendingPayment">
            <% for(let payments of pendingPaymentList){ %> 
                <div class="pending-payment-list">
                    <p> Customer Name : <%= payments.loan.customer.name %> </p>
                    <p> Loan Amount : <%= payments.totalAmount %> </p>
                    <p> Remaning Amount : <%= payments.remaningAmount %> </p>
                    <p> Total Term : <%= payments.totalTerm %></p>
                    <p> Remaning Term : <%= payments.remaningTerm %></p>
                    <p> Complete Term : <%= payments.completeTerm %> </p>
                    <p> Payment Status : <%= payments.status %> </p>
                    <p> Next Payment Date : <%= payments.paymentDate %> </p>
                    <p><a href="/customer/payments/loan-payment/:id">Pay EMI</a></p>
                </div>    
            <% } %>
        </div>
    </div>            
</div>